@font-face {
  font-family: "AlteHaasGrotesk";
  src: url("/fonts/AlteHaasGroteskRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AlteHaasGrotesk";
  src: url("/fonts/AlteHaasGroteskBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("/fonts/JunicodeVF-Italic.woff2") format("woff2");
  font-stretch: 87.5%;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "FiraCodeNFM";
  src: url("/fonts/FiraCodeNerdFontMono-Retina.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
