:root {
  --primary-clr: #00cc64;
  --bg-clr: white;
  --text-clr: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-clr);
}

/* Nav styling */
.nav {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 1.5rem 2rem;
  align-items: end;
  background-color: var(--primary-clr);
  grid-column: 1/4;
}

.nav ul {
  list-style: none;
  grid-column: 2/3;
  display: flex;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  color: var(--text-clr);
  transition: color 0.2s ease-in;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--bg-clr);
}

/* footer styling */
footer {
  width: 100%;
  background-color: var(--primary-clr);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 1.5rem 2rem;
  grid-column: 1/4;
}
.copyright {
  grid-column: 1/2;
  font-size: 0.75rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 90ch 1fr;
}

.hero {
  width: 100%;
  height: 100%;
  background-color: var(--primary-clr);
  color: var(--bg-clr);
  grid-column: 1/4;
  word-wrap: break-word;
  align-items: end;
  padding-inline: 2rem;
}

.hero h1 {
  font-size: 20vw;
  line-height: 1;
}

.content {
  grid-column: 2/3;
  padding-block: 4rem;
  padding-inline: 2rem;
}

.projects {
  padding-block: 2rem;
  display: flex;
  gap: 2rem;
}

.project-card {
  width: clamp(200px, 50rem, 26vw);
}

.project-card img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.left-section {
  grid-column: 1/2;
}
.left-section img,
.right-section img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.right-section {
  grid-column: 2/3;
  padding: 2rem;
}

.left-section img,
.right-section img,
::slotted(img) {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr 80vw 1fr;
  }

  .left-section,
  .right-section {
    grid-column: 1/3;
  }

  .right-section {
    padding: 0;
  }
}
