:root {
  /* --primary-clr: #3d6dc7; */

  /* --primary-clr: #00cc63;
  --text-clr: #333333;
  --bg-clr: #f4f3f0;
  --accent-clr: hsl(from var(--text-clr) h calc(s + 20) calc(l + 25)); */

  --text-clr: #433;
  --accent-clr: #c6ad92;
  --primary-clr: #fe3519;
  --bg-clr: #f4f3f0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* Fonts */
@font-face {
  font-family: "AlteHaasGrotesk";
  src: url("/fonts/AlteHaasGroteskRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AlteHaasGrotesk";
  src: url("/fonts/AlteHaasGroteskBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("/fonts/JunicodeVF-Italic.woff2") format("woff2");
  font-stretch: 87.5%;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "FiraCodeNFM";
  src: url("/fonts/FiraCodeNerdFontMono-Retina.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Typography */
body {
  font-family: "AlteHaasGrotesk", Arial, Helvetica, sans-serif;
  color: var(--text-clr);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  margin-block: 1.5rem;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: 900;
}

h1 {
  font-size: 2.986rem;
}
h2 {
  font-size: 2.488rem;
}

.section-title {
  color: var(--accent-clr);
}
h3 {
  font-size: 2.074rem;
  color: var(--accent-clr);
}
h4 {
  font-size: 1.728rem;
}
h5 {
  font-size: 1.44rem;
}
h6 {
  font-size: 1.2rem;
}

pre {
  font-family: FiraCodeNFM, Courier, monospace;
  color: var(--primary-clr);
}

/* Links */
a {
  color: var(--text-clr);
  text-decoration: none;
  transition: color 0.2s ease-in;
}

a:hover,
a:focus {
  color: var(--primary-clr);
}

.underline-link {
  color: var(--primary-clr);
  position: relative;
}

.underline-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--primary-clr);
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition:
    opacity 300ms,
    transform 300ms;
  pointer-events: none;
}

.underline-link:hover::before,
.underline-link:focus::before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.external-link svg {
  width: 1.25em;
  height: 1.25em;
  transition: rotate 0.25s ease-in-out;
  vertical-align: bottom;
}

.external-link:hover svg {
  rotate: 45deg;
}

/* Layout */
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  flex: 1;
  background-color: var(--bg-clr);
  gap: 1rem;
  z-index: 1;
}

.transition-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  pointer-events: none;
}

.projects-wrapper,
.about-wrapper,
.misc-wrapper {
  grid-column: 2 / 12;
}

@media (min-width: 1000px) {
  .projects-wrapper,
  .about-wrapper,
  .misc-wrapper {
    grid-column: 3 / 11;
  }
}

@media (min-width: 1300px) {
  .projects-wrapper,
  .about-wrapper,
  .misc-wrapper {
    grid-column: 4 / 10;
  }
}

.projects-wrapper {
  padding-block: 15rem 6rem;
}

.misc-wrapper {
  padding-block: 6rem 15rem;
}

.hero-wrapper {
  width: 100%;
  height: 50dvh;
  background-color: var(--bg-clr);
  color: var(--text-clr);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.project-cato-heading {
  padding-bottom: 2rem;
  position: sticky;
  top: 4rem;
}

/* ==== HERO SECTION LAYOUT ==== */
.hero-copy {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem 2rem;
  align-items: start;
}

@media (max-width: 1144px) {
  .hero-copy {
    padding-bottom: 0;
  }
}

/* HERO TITLE */
.hero-title {
  font-size: 8rem;
  line-height: 0.8;
  padding-inline-end: 1rem;
  z-index: 1;
}

@media (max-width: 800px) {
  .hero-title {
    font-size: 20vw;
  }
}

/* HERO MOTION & DESCRIPTION */
.hero-motion {
  display: flex;
  align-items: start;
  position: relative;
  overflow: hidden;
  gap: 1rem;
  max-height: min-content;
  opacity: 0;
}

@media (max-width: 900px) {
  .hero-motion {
    padding-top: 1rem;
  }
}

.hero-desc {
  width: 40ch;
  color: var(--accent-clr);
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 800px) {
  .hero-desc {
    font-size: 1.125rem;
  }
}

.border-line {
  width: 5px;
  height: 6rem;
  background-color: var(--text-clr);
  transform: scaleY(0);
  transform-origin: top;
}

/* project cards */

.project-card {
  position: sticky;
  top: var(--top-offset, 8); /* Fall back to 9rem if no top is set */
  background: var(--bg-clr);
  border-radius: 0.5rem;
}

.card-label {
  position: relative;
  z-index: -1;
}

.project-card:not(:first-of-type) {
  margin-top: 15rem;
}

.project-card img {
  width: 100%;
  max-height: 55vh;
  object-fit: cover;
  aspect-ratio: 3/2;
  border-radius: 0.5rem;
}

@media (max-width: 500px) {
  .project-card img {
    max-height: 45vh;
  }
}

/* Project Page Sections */
#verticalContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
  grid-column: 1/13;
  padding: 0;
  padding-block-end: 2rem;
}

@media (max-width: 850px) {
  #verticalContainer {
    flex-direction: column;
  }
}
.left-section {
  border-right: 3px solid var(--text-clr);
  position: relative;
  will-change: transform;
  max-width: 50dvw;
}

.right-section {
  position: relative;
  will-change: transform;
  max-width: 50dvw;
}

/* Project left and right columns Sections */
@media (max-width: 850px) {
  .left-section {
    border: none;
  }

  .left-section,
  .right-section {
    max-width: 100%;
  }
}

/* Section Images */
.left-section img,
.right-section img,
::slotted(img) {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Right column Details */
.right-section h1 {
  padding-top: 2.5rem;
}

.right-section h2,
.right-section h3 {
  margin-top: 2.5rem;
}

.right-section > * {
  padding-inline: 2rem;
}

.right-section a {
  display: inline-block;
  padding: 0.2em 0;
}

blockquote p {
  margin-block: 1rem;
  padding-inline: 2rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--primary-clr);
}

/* Paragraphs Without Images */
.right-section :not(.details) p:not(:has(img)),
.right-section ol {
  margin: 1.5rem 2.5rem;
}

@media (max-width: 850px) {
  .right-section :not(.details) p:not(:has(img)),
  .right-section ol {
    margin-inline: 0;
  }

  .right-section img + img {
    margin-block-start: 1.5rem;
  }
}
.collab {
  margin: 0;
}

.scope {
  font-family: "Junicode";
  font-size: 1.75rem;
  margin: 0;
}

.details {
  margin: 0;
  margin-bottom: 2rem;
  padding-inline: 2rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--text-clr);
}

/* Misc Elements */
.arrow,
.broken-heart {
  height: 12vh;
}

/* About Section */
.about {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.about-image {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: block;
  justify-self: center;
  order: 1;
}

.about-copy,
.about-cta,
.stats {
  grid-column: 1 / 2;
}

.stats {
  border-top: 3px solid var(--text-clr);
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  line-height: 2rem;
}

/* About section local time */
#local-time,
#visitors {
  font-size: 1.5rem;
  color: var(--accent-clr);
  font-weight: 900;
}

/* About section visitor counter */
.visitor-count {
  font-weight: 100;
  line-height: 2rem;
}

/* Responsive About Section */
@media (max-width: 850px) {
  .about {
    grid-template-columns: 1fr;
  }

  .left-section,
  .right-section,
  .about-image,
  .about-copy,
  .stats,
  .about-cta {
    grid-column: 1 / 2;
  }
}

@media (max-width: 500px) {
  .about-image {
    justify-self: unset;
  }
  .stats {
    flex-direction: column;
  }

  .stats p {
    margin-block: 0.5rem;
  }
}
