---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout title="Nikolai's Portfolio Website">
  <div class="content">
    <h1>404</h1>
    <h2>Sorry that page doesn't live here</h2>
    <img class="broken-heart" src="/assets/misc/broken-heart.svg" />
  </div>
</BaseLayout>

<style>
  .content {
    display: flex;
    top: 0;
    flex-direction: column;
    min-height: 100dvh;
    grid-column: 2/3;
    padding-block: 4rem;
    text-align: center;
  }

  h1 {
    font-size: 8rem;
  }
</style>
