---
import BaseLayout from "../layouts/base.astro";
import About from "../components/about.astro";
import Projects from "../components/projects.astro";
import Hero from "../components/hero.astro";
import Loader from "../components/loading.astro";
---

<BaseLayout title="Nikolai's Portfolio Website">
  <div class="loading-slot" slot="full-bleed">
    <Loader />
  </div>
  <div class="transition-cover" slot="full-bleed"></div>

  <div class="hero-wrapper" slot="full-bleed">
    <Hero />
  </div>
  <div id="bottom-fade"></div>

  <div class="projects-wrapper">
    <Projects cato="projects" />
  </div>

  <div class="about-wrapper">
    <About />
  </div>

  <div class="misc-wrapper">
    <Projects cato="misc" />
  </div>

  <script src="../landingAnimations.js"></script>
</BaseLayout>

<script>
  import { setupCardClickHandlers } from "../../src/cardTransition.js";
  import { gsap } from "gsap";

  window.addEventListener("pageshow", () => {
    const transitionCover = document.querySelector(".transition-cover");
    if (transitionCover) {
      gsap.set(transitionCover, {
        opacity: 0,
        width: 0,
        height: 0,
        scale: 1,
      });
    }
  });

  document.addEventListener("DOMContentLoaded", () => {
    setupCardClickHandlers();

    const fade = document.getElementById("bottom-fade");
    const content = document.querySelector(".wrapper");
    if (fade && content) {
      gsap.set(fade, { opacity: 1 });
      gsap
        .timeline({
          scrollTrigger: {
            trigger: content,
            start: "top top+=350",
            end: "+=250",
            scrub: true,
          },
        })
        .to(fade, {
          opacity: 0,
          yPercent: 0,
          ease: "power1.out",
        });
    }
  });
</script>

<style>
  .transition-cover {
    opacity: 0;
  }

  .loading-slot {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
  }

  #bottom-fade {
    position: fixed;
    background-image: linear-gradient(#fff0, var(--bg-clr));
    height: 7dvh;
    width: 100%;
    bottom: 0rem;
    z-index: 200;
  }
</style>
