---
import BaseLayout from '../layouts/base.astro';
import About from '../components/about.astro';
import Projects from '../components/projects.astro';
---

<BaseLayout title="Nikolai's Portfolio Website">
	<div class="hero" slot="full-bleed">
		<div class="main-text">
			<h1>Nikolai<br>Suvanto</h1>
			<p>an ad major with a deep interest in how people connect—with each other, with ideas, and with the world around them.</p>
		</div>
		<h6 class="prompt">Scroll
			<img class="arrow" src="/assets/misc/arrow.svg">
		</h6>
	</div>
	<div class="content">
		<div class="projects-wrapper">
			<Projects />	
		</div>	
		<div class="about">
			<About />
		</div>
	</div>
</BaseLayout>

<style>
/* stack effect from: https://codepen.io/baro82/pen/xxpxJRv*/

.hero {
  width: 100%;
  background-color: var(--bg-clr);
  color: var(--text-clr);
  word-wrap: break-word;
  padding: 4rem 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
}

h1 {
  font-size: 12vw;
  line-height: 0.8;
  padding-inline-end: 3rem;
}

h6 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero, .about {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.main-text {
	display: flex;
	flex-wrap: wrap;
}

.main-text p {
	width: 40ch;
	flex-shrink: 1;
	color: var(--primary-clr);
	border-inline-start: 3px solid var(--text-clr);
	padding-inline-start: 1rem;
	font-size: 1.5rem;
	font-weight: 900;
}

.prompt {
  color: var(--text-clr);
}

.content > * {
  background-color: var(--bg-clr);
  width: 100%;
  top: 4rem;
}

.content {
	background-color: var(--bg-clr);
	grid-column: 1/4;
	padding-block: 2rem;
	display: grid;
	grid-template-columns: 1fr 90ch 1fr;
}

@media (max-width: 850px) {
  .content {
    grid-template-columns: 1fr 80vw 1fr;
  }

  h1 {
	font-size: 20vw;
  }

  .main-text p {
	font-size: 1.25rem;
  }

}
</style>