---
import BaseLayout from '../layouts/base.astro';
import About from '../components/about.astro';
import Projects from '../components/projects.astro';
---

<BaseLayout title="Nikolai's Portfolio Website">
	<div class="hero" slot="full-bleed">
		<h1>Welcome</h1>
		<h2 class="prompt">Scroll</h2>
		<img class="arrow" src="/assets/misc/arrow.svg">
	</div>
	<div class="content">
		<div class="projects-wrapper">
			<Projects />	
		</div>	
		<div class="about">
			<About />
		</div>
	</div>
</BaseLayout>

<style>
/* stack effect from: https://codepen.io/baro82/pen/xxpxJRv*/



.hero, .about {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.content > * {
  background-color: var(--bg-clr);
  width: 100%;
  top: 4rem;
}

.content {
	background-color: var(--bg-clr);
	grid-column: 1/4;
	padding-block: 2rem;
	display: grid;
	grid-template-columns: 1fr 90ch 1fr;
}

@media (max-width: 850px) {
  .content {
    grid-template-columns: 1fr 80vw 1fr;
  }
</style>