---
import BaseLayout from '../layouts/base.astro'
---

<BaseLayout >
    <div class="content">
        <h1>Thank you for your message! I will email you back shortly.</h1>
    </div>
</BaseLayout>

<style>
    /* h1 {
        grid-column: 2/3;
        padding-block: 2rem;
    } */
</style>