---
import CircledText from './circled-text.astro';
import TimeDisplay from './timeDisplay.astro';
---

    <div class="about-wrapper">
      <img src="/assets/misc/me.svg" alt="Illustration of me" class="about-image" />
      
      <div class="about-copy">
        <h2>About Me</h2>
        <p>
          Hi I'm Nikolai! I'm an Advertising major with a deep interest in how people connect—with each other, with ideas, and with the world around them. I believe community and connection are at the heart of all great advertisements and I’m passionate about exploring how storytelling, design, and technology can foster those connections.
        </p>
        <p>
          When I’m not working on creative projects, I relax by biking downtown, experimenting in the kitchen (or searching for the next great bite), tinkering with selfhosting something new, or disappearing down an internet rabbit hole—anything from niche topics to the latest in open source software. I love learning for the sake of learning, and constantly have new hobbies leading to a bunch of random info rattling around in my head.
        </p>
        <p>
          Whether it’s through a campaign, a conversation, or a deep dive into whatever has caught my interest, I’m always looking for the human connection within it.
        </p>
      </div>
      <TimeDisplay  />
      <h4 class="about-cta">Drop me a <CircledText><a href="/contact">line</a></CircledText></h4>
    </div>
    </div>
