---
import CircledText from './circled-text.astro';
import TimeDisplay from './timeDisplay.astro';
---

    <div class="about-wrapper">
      <img src="/assets/misc/me.svg" alt="Illustration of me" class="about-image" />
      
      <div class="about-copy">
        <h2>About Me</h2>
        <p>
          Hi I'm Nikolai! I have a not-so-small obsession with archiving, documenting, and saving just about everything around me. I believe connection is the core of all great advertising, and I’m passionate about exploring how storytelling and design can foster those connections.
        </p>
        <p>
          When I’m not working on creative projects, I'm out biking downtown, experimenting in the kitchen (or searching for my next favourite dish), tinkering with a coding project, or getting lost down an internet rabbit hole. I love learning and constantly have new hobbies leading to a bunch of random info rattling around in my head.
        </p>
      </div>
      <TimeDisplay  />
      <h6 class="about-cta">All this information not enough?<br>In desperate need of IT advice?<br>None of the above?</h6>
      <h4 class="about-cta">Drop me a <CircledText><a href="/contact">line</a></CircledText><br>I'd love to hear from you!</h4>
    </div>
    </div>

