---
---

<footer class="footer">
    <p class="copyright">© 2025 Nikolai. All rights reserved.</p>
    <div class="footer-text">
        <h1>That's it for me</h1>
        <h3>Thank you for visiting :)</h3>
    </div>
</footer>
