---
---

<footer class="footer">
    <p class="copyright">© 2025 Nikolai. All rights reserved.</p>
    <div class="footer-text">
        <h4>That's it for me</h4>
        <h5>Thank you for visiting :)</h5>
    </div>
</footer>

<style>
    h4 {
        color: var(--bg-clr);
    }
</style>