---

---

<div class="hero-copy">
  <h1 class="hero-title">Nikolai<br />Suvanto</h1>
  <div class="hero-motion">
    <div class="border-line"></div>
    <p class="hero-desc">
      an art director with a strong interest in how people connect—with each
      other, with ideas, and with the world around them.
    </p>
  </div>
</div>

<style>
  /* HERO SECTION LAYOUT */
  .hero-copy {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem 2rem;
    align-items: start;
  }

  @media (max-width: 1144px) {
    .hero-copy {
      padding-bottom: 0;
    }
  }

  /* HERO TITLE */
  .hero-title {
    font-size: 8rem;
    line-height: 0.8;
    padding-inline-end: 1rem;
    z-index: 1;
  }

  @media (max-width: 800px) {
    .hero-title {
      font-size: 20vw;
    }
  }

  /* HERO MOTION & DESCRIPTION */
  .hero-motion {
    display: flex;
    align-items: start;
    position: relative;
    overflow: hidden;
    gap: 1rem;
    max-height: min-content;
    opacity: 0;
  }

  @media (max-width: 900px) {
    .hero-motion {
      padding-top: 1rem;
    }
  }

  .hero-desc {
    width: 40ch;
    color: var(--primary-clr);
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0;
  }

  @media (max-width: 800px) {
    .hero-desc {
      font-size: 1.125rem;
    }
  }

  .border-line {
    width: 5px;
    height: 6rem;
    background-color: var(--text-clr);
    transform: scaleY(0);
    transform-origin: top;
  }
</style>
