---

---

<!-- <div class="ascii-wrapper">
  <pre
    class="split"
    aria-hidden="true">
     ##### /    ##   ###            ###                                                
  ######  /  #####    ###            ###                                               
 /#   /  /     #####   ###            ##                                               
/    /  ##     # ##      ##           ##                                               
    /  ###     #         ##           ##                                               
   ##   ##     #         ##    /##    ##      /###      /###   ### /### /###     /##   
   ##   ##     #         ##   / ###   ##     / ###  /  / ###  / ##/ ###/ /##  / / ###  
   ##   ##     #         ##  /   ###  ##    /   ###/  /   ###/   ##  ###/ ###/ /   ### 
   ##   ##     #         ## ##    ### ##   ##        ##    ##    ##   ##   ## ##    ###
   ##   ##     #         ## ########  ##   ##        ##    ##    ##   ##   ## ######## 
    ##  ##     #         ## #######   ##   ##        ##    ##    ##   ##   ## #######  
     ## #      #         /  ##        ##   ##        ##    ##    ##   ##   ## ##       
      ###      /##      /   ####    / ##   ###     / ##    ##    ##   ##   ## ####    /
       #######/ #######/     ######/  ### / ######/   ######     ###  ###  ### ######/ 
         ####     ####        #####    ##/   #####     ####       ###  ###  ### #####  
</pre>
</div> -->
<div class="hero-copy">
  <h1 class="hero-title">Nikolai<br />Suvanto</h1>
  <div class="hero-motion">
    <div class="border-line"></div>
    <p class="hero-desc">
      an art director with a strong interest in how people connect—with each
      other, with ideas, and with the world around them.
    </p>
  </div>
</div>
<!-- <h6 class="prompt">
  Scroll
    <img class="arrow" src="/assets/misc/arrow.svg" alt="Scroll down arrow">
</h6> -->

<!-- <script src="../../src/heroTextShader.js"></script> -->

<style>
  #heroText {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .hero-motion {
    opacity: 0;
  }

  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
  }

  .hero-title {
    background-color: var(--bg-clr);
    z-index: 1;
  }
  .ascii-wrapper {
    font-size: min(1.55vw, 17px);
    padding-left: 2rem;
    padding-top: 2rem;
    line-height: 0.5;
  }

  .split {
    opacity: 0;
  }

  @media (max-width: 800px) {
    .hero-title {
      font-size: 20vw;
    }

    .hero-desc {
      font-size: 1.125rem;
    }
  }
</style>
