<div id="loader">
  <h6 id="nikolai">
    N<span class="fade-out">ikolai</span>
  </h6>
  <h6 id="en">–</h6>
  <h6 id="suvanto">
    S<span class="fade-out">uvanto</span>
  </h6>
</div>

<style>
  #loader {
    background-color: var(--bg-clr);
    color: var(--text-clr);
    position: relative;
    display: flex;
    gap: 0rem;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    z-index: 300;
    /* opacity: 0; */
  }

  #nikolai,
  #en,
  #suvanto {
    font-size: 10vw;
  }

  #en {
    opacity: 0;
    color: var(--accent-clr);
  }

  .fade-out {
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
  }
</style>

<script>
  import loader from "../loaderAnimation.js";
  import { animateHeroCopy } from "../heroAnimation.js";

  const loaderEl = document.getElementById("loader");
  /* only play loader on first homepage hit
  if (!sessionStorage.getItem("visited")) {
    loader(() => {
      animateHeroCopy();
      loaderEl.style.display = "none"; // optional: hide loader after animation
    });
    sessionStorage.setItem("visited", "true");
  } else {
    loaderEl.style.display = "none"; // skip loader if already visited
    animateHeroCopy();
  } */

  loader(() => {
    animateHeroCopy();
    loaderEl.style.display = "none"; // optional: hide loader after animation
  });
</script>
