---
import ProjectCard from '../components/project-card.astro';
const projects = Object.values(import.meta.glob("../pages/projects/*.md", { eager: true }));
---

<h2>Projects</h2>
<div class="projects">
        {projects.map((i, index) => (
            <ProjectCard
                title={i.frontmatter.title}
                slug={i.frontmatter.slug}
                cover={i.frontmatter.cover}
                style={`--top-offset: ${9 + index * 2}rem;`}
            />
        ))}
</div>

<style>
.projects {
    top: 4rem;
    scroll-snap-type: mandatory;
}

h2 {
    padding-bottom: 2rem;
    position: sticky;
    top: 4rem;
}
</style>
