---
import Footer from "../components/footer.astro";
import "../styles/style.css";
const data = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/misc/me.svg" />
    <title>{data.title}</title>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="0c0c7cc7-3489-4c24-b515-2d268fb4fb9f"></script>
    <!-- client router is used for the astro view transitions api: https://docs.astro.build/en/guides/view-transitions/#adding-view-transitions-to-a-page -->
    <!-- <ClientRouter /> -->
  </head>
  <body>
    <!-- <Navbar /> phased out in commit b5765c2-->
    <slot name="full-bleed" />
    <div class="wrapper">
      <slot />
    </div>
    <Footer />

    <script
      data-goatcounter="https://idkn1.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"></script>
    <script src="../baseAnimation.js"></script>
    <script>
      import Lenis from "lenis";
      // Initialize Lenis
      const lenis = new Lenis({
        autoRaf: true,
      });
    </script>
    <svg aria-hidden="true" width="0" height="0">
      <def>
        <filter id="distort">
          <feGaussianBlur in="SourceGraphic" stdDeviation="2"></feGaussianBlur>
        </filter>
      </def>
    </svg>
  </body>
</html>
