---
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
import "../styles/style.css";

const cfPagesBranch = import.meta.env.CF_PAGES_BRANCH;
const isProduction = cfPagesBranch === "main";

console.log("CF_PAGES_BRANCH:", cfPagesBranch);
console.log("CF_PAGES_BRANCH type:", typeof cfPagesBranch);
console.log("isProduction:", isProduction);
console.log("comparison result:", cfPagesBranch === "main");

const data = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/misc/me.svg" />
    <title>{data.title}</title>
    <script
      src="https://cloud.umami.is/script.js"
      data-website-id="0c0c7cc7-3489-4c24-b515-2d268fb4fb9f"></script>
  </head>
  <body>
    <Navbar />

    <slot name="full-bleed" />
    <div class="wrapper">
      <slot />
    </div>
    <Footer />

    <script src="../baseAnimation.js"></script>
    <script>
      import Lenis from "lenis";
      new Lenis({
        autoRaf: true,
      });
    </script>
  </body>
</html>
