---
import Navbar from '../components/navbar.astro';
import Footer from '../components/footer.astro';
import { ClientRouter } from 'astro:transitions';
const data = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="#" />
		<link rel="stylesheet" href="style.css">
		<title>{data.title}</title>
		<!-- client router is used for the astro view transitions api: https://docs.astro.build/en/guides/view-transitions/#adding-view-transitions-to-a-page -->
		<ClientRouter />
	</head>
	<body>
		
		<Navbar />
		<div class="wrapper">
			<slot />
		</div>
		<Footer />
		<!-- smoother scrolling -->
		<script src="https://unpkg.com/lenis@1.1.18/dist/lenis.min.js"></script>
	</body>
</html>
